name: "Test"
on: [push, pull_request]
jobs:
  local:
    name: Local Tests
    runs-on: ubuntu-latests
    if: github.event.pull_request.draft == false
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.14
      id: go

    - name: Install Dependencies
      run: |
        echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Checkout
      uses: actions/checkout@v2

    - name: Download Dependencies
      run: go mod download

    - name: "Unit Tests"
      run: |
        make test
      shell: bash